<%= form_for(@fuckform) do |f| %>
  <% if @fuckform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fuckform.errors.count, "error") %> prohibited this fuckform from being saved:</h2>

      <ul>
      <% @fuckform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
